https://{$LLN_DOMAIN}

@api {
    path /i/* /o/*
}

@spider {
    header_regexp User-Agent ^.*([Bb]ot|[Cc]rawler|[Ss]pider|[Gg]oogle|[Bb]ing|[Yy]ahoo|[Bb]aidu).*$
}

handle @api {
    reverse_proxy 127.0.0.1:8876
}

handle @spider {
    reverse_proxy 127.0.0.1:8876
}

handle {
    encode gzip
    root * /usr/share/caddy
    try_files {path} {path}/ /index.html
    file_server
}
