/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #000;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-main: hsla(160, 100%, 37%, 1);

  /* semantic color variables for this project */
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --lln-color-border: rgb(239, 243, 244);
  --lln-color-title-bg: rgba(255, 255, 255, 0.5);
  --lln-color-play-mark: rgba(255, 255, 255, 0.8);
  --lln-color-play-bg: rgba(0, 0, 0, 0.8);
  --lln-color-text: #000;
  --lln-color-bg-hover: rgba(0, 0, 0, 0.03);
  --lln-color-timeline: rgb(207, 217, 222);
  --lln-color-side-bg: rgb(247, 249, 249);
  --lln-color-code: #1F2328;
  --lln-color-login-border: rgb(239, 243, 244);
  --lln-color-login-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-indigo);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --lln-color-border: rgb(47, 51, 54);
    --lln-color-title-bg: rgba(0, 0, 0, 0.65);
    --lln-color-play-mark: rgba(0, 0, 0, 0.7);
    --lln-color-play-bg: rgb(22, 24, 28);
    --lln-color-text: #e7e9ea;
    --lln-color-bg-hover: rgba(255, 255, 255, 0.03);
    --lln-color-timeline: rgb(51, 54, 57);
    --lln-color-side-bg: rgb(22, 24, 28);
    --lln-color-nav-hover: rgba(231, 233, 234, 0.1);
    --lln-color-code: rgba(235, 235, 235, 0.64);
    --lln-color-login-border: rgb(47, 51, 54);
    --lln-color-login-bg: rgb(22, 24, 28);

  }

  .Toastify {
    --toastify-color-light: var(--lln-color-side-bg);
    --toastify-text-color-light: #e7e9ea;
  }

  img:not([src*=".svg"]) {
    filter: brightness(80%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}