@import './base.css';
@import './md.css';

#app {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  outline: none;
}

main {
  min-height: 100vh;
  flex: 1;
}

.Toastify {
  --toastify-toast-width: auto;
  --toastify-toast-min-height: 34px;
}

::-webkit-scrollbar {
  width: 8px;
  transition: 0.4s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lln-color-timeline);
  border-radius: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}