@import './base.css';

#app {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main {
  min-height: 100vh;
  flex: 1;
}

code {
  background-color: rgb(239, 243, 244);
  padding: 2px 5px;
  margin: 0 2px;
  border-radius: 3px;
  font-size: 13px;
  color: rgb(83, 100, 113);
  font-family: Monaco, Consolas, 'Ubuntu Mono', Inconsolata, sans-serif;
}

pre {
  background-color: rgb(239, 243, 244);
  display: block;
  width: 100%;
  margin: 5px 0px;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 13px;
  color: rgb(83, 100, 113);
  font-family: Monaco, Consolas, 'Ubuntu Mono', Inconsolata, sans-serif;
  line-height: 18px;
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 8px; 
  transition: 0.4s;
}

pre::-webkit-scrollbar-thumb {
  background-color: rgb(83, 100, 113, 0.6);
  border-radius: 3px;
}

.Toastify {
  --toastify-toast-width: auto;
  --toastify-toast-min-height: 34px;
}

@media (max-width: 60rem) {
  pre {
    font-size: 12px;
    line-height: 16px;
  }
  code {
    font-size: 12px;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}