code {
    background-color: var(--lln-color-border);
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    color: var(--lln-color-code);
    font-family: Monaco, Consolas, 'Ubuntu Mono', Inconsolata, sans-serif;
}

pre {
    position: relative;
    background-color: var(--lln-color-border);
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 8px;
    border-radius: 3px;
    font-size: 13px;
    color: var(--lln-color-code);
    font-family: Monaco, Consolas, 'Ubuntu Mono', Inconsolata, sans-serif;
    overflow-x: auto;
}

pre code {
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

pre::-webkit-scrollbar {
    height: 8px;
    transition: 0.4s;
}

pre::-webkit-scrollbar-thumb {
    background-color: rgb(83, 100, 113, 0.3);
    border-radius: 3px;
}

hr {
    height: 2px;
    border: none;
    background: var(--lln-color-timeline);
    width: calc(100% / 5);
    margin: 10px auto;
    margin-bottom: 15px;
}

.raw ol,
.paragraph ol {
    padding: 0;
    margin: 0;
}

.raw ol li,
.paragraph ol li {
    list-style: decimal;
    margin-left: 20px;
}

.raw ul li,
.paragraph ul li {
    list-style: disc;
    margin-left: 20px;
}

.raw h2,
.paragraph h2 {
    border-bottom: 1px solid var(--lln-color-border);
    margin: 5px 0;
    font-size: 17px;
}

.codeblock {
    position: relative;
}

.codeblock .copy {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 11px;
    height: 20px;
    background-color: var(--lln-color-timeline);
    color: var(--lln-color-text);
    z-index: 10;
}

@media (max-width: 60rem) {
    pre {
        font-size: 12px;
        line-height: 16px;
    }

    code {
        font-size: 12px;
    }

    pre::-webkit-scrollbar {
        height: 3px;
    }
}